/*MY CSS*/

html{
    scroll-behavior: smooth;
}

body{
    font-family:'Rubik', sans-serif;
    font-weight: bolder;
}

.col-pad-bot{
    padding-bottom: 20px;
}
.center{
    text-align: center;   
}
.navbarfont{
    font-family: 'Rubik', sans-serif;
}

.justify{
    text-align: justify;
}

/* Hover menubar */
ul li:hover{
    background-color:#5499D7 ;
    font-weight: bolder;
    font-size: larger;
    border-radius: 5px;
    transition-duration: .5s;
}

/* row about me */
.r1{
    position: relative;
    padding:10px 10px;
    /* height: 550px;
    align-content: center;
     */
}

/*bg img*/
.r1::before{
    content: '' ;
    position: absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-image: url("webdev2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .4;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    height: 100%;
}

/* ROW 1 img */
.myimg{
    vertical-align: middle;
    width: 100%;
    height: auto;
    border-radius: 100%;
}

/* row education */
.r2{
    padding:10px 10px;
    background-color:black;
}

.schoolimg{
    height: 200px;
}

.schooldata{
    display:grid;

    grid-template-rows: auto auto auto auto;
}

.schoolname{
    font-weight: 500;
    font-size: 3em;
    padding-bottom: 10px;
}

.schoolcourse{
    font-size: 1.2em;
    padding-bottom: 20px;
}


/* row about me */
.r3{
    position: relative;
    padding:10px 10px;
    /* background-color:#C4C7D2; */
    
}

/*bg img*/
.r3::before{
    content: '' ;
    position: absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-image: url("corporate1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .4;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    height: 100%;
}

.orgimg{
    height: 200px;
}

.orgdata{
    display:grid;

    grid-template-rows: auto auto auto;
}

.orgname{
    font-weight: 500;
    font-size: 3em;
    padding-bottom: 10px;
}

.orgposition{
    font-size: 1.2em;
    padding-bottom: 20px;
}

.r4{
    padding: 10px 10px;
    background-color:#C4C7D2;
    
}

.workdata{
    display:grid;
    grid-template-rows: auto auto;
}
.workname{
    font-size: 2em;
}

.r5{
    padding: 10px 10px;
    background-color:black;
    color: white;
}

.linkdata{
    display:grid;
    grid-template-rows: auto auto;
}


.white{
    color: white;
}